/* calculator btn design */ 
#calculator-btn{
    background-color: #59A5FF;
    color: white;
    border-radius: 3px;
    border: 0px;
}

/* save btn desing */
#save-btn{
    background-color: #59A5FF;
    color: white;
    border-radius: 3px;
    border: 0px;
}